@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300&family=Oswald:wght@500&display=swap');
 
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 
https://raw.git.generalassemb.ly/Kwokito/W01D03-HW/master/startup-matchmaker/starter_code/images/coworking.jpg?token=AAAHE2PSSONYVHOJ2X45AA27IW2SE */

body {
    background-image: url(./assets/coworking.jpg);
    background-size: cover;
}

.blacktop {
    height: 5px;
    width: 100%;
    background-color: #000000;
}

.graytop {
    height: 5px;
    width: 100%;
    background-color: #35393f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100vw;
    background-color: black;
    color: white;
}

.navbar > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    font-size: 30px;
    color: yellow;
    font-family: Merriweather;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 40%;
    height: 100%;
    margin-right: 50px;
    font-size: 18px;
    font-family: Lato;
}

.bold {
    font-weight: bolder;
    font-family: Merriweather;
    font-size: 22px;
}

.yellowbar {
    background-color: yellow;
    height: 5px;
    width: 100%;
}

.twobrains {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #c6c6c6;

}